* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(./images/header_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45rem;
}

.navigation {
  position: relative;
  top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header img {
  width: 10rem;
}

.language_select {
  display: flex;
  width: 25rem;
  justify-content: center;
  align-items: center;
}

.world__img-select {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-right: 0.5rem;
}

.world__img-select img {
  width: 1.5rem;
  height: 1.5rem;
}

select {
  background: transparent;
  border: none;
  color: #dfdfdf;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.sign__in-headear-btn button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(228, 20, 20);
  border-radius: 0.3rem;
  margin-left: 2rem;
  color: #dfdfdf;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
}

.dark__background {
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.header_text {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #efefef;
}
.main__text {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
}

.header__text-second {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  /* letter-spacing: 0.5rem; */
  font-weight: 300;
}

.third__paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.header__input {
  display: flex;
  width: 10rem;
  justify-content: center;
}

.input {
  background: transparent;
  color: #dfdfdf;
  border: 1px solid #474747;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 15rem;
  backdrop-filter: blur(4px);
}

.btn__get-started {
  margin-left: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  background-color: rgb(228, 20, 20);
  border-radius: 0.3rem;
  font-style: inherit;
  font-stretch: inherit;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: inherit;
  color: #dfdfdf;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  white-space: nowrap;
  text-align: center;
  border: none;
}

.line {
  width: 100%;
  background: #494949;
  height: 0.6rem;
}

.enjoy {
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
  height: 70vh;
  background-color: black;
  color: #fff;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.heading h2 {
  width: 40rem;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  text-align: left;
}

.heading p {
  margin-top: 2rem;
  width: 40rem;
  font-size: 1.5rem;
  color: #fff;
}
.enjoy__gif {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: auto;
}
.enjoy__gif img {
  width: 45rem;
}

.download {
  display: flex;
  position: relative;
  border: #dfdfdf 1px solid;
  top: 8rem;
  right: 18rem;
  width: 19rem;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  background-color: black;
  z-index: 1;
}

.download img {
  width: 50px;
  height: auto;
}

.downloading {
  color: #0071eb;
}

.enjoy__gif-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin-left: 10rem;
}

.enjoy-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: black;
  color: #fff;
}

.heading-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading-2 h2 {
  width: 40rem;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  text-align: left;
}

.heading-2 p {
  margin-top: 2rem;
  width: 40rem;
  font-size: 1.5rem;
  color: #fff;
}

.enjoy-3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 90vh;
  background-color: black;
  color: #fff;
}

.enjoy__gif-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 80vh;
  background-color: black;
  color: #fff;
}

.enjoy__gif-3 video {
  position: relative;
  top: -5rem;
  left: 32rem;
  z-index: 1;
  width: 25rem;
  height: auto;
}

.enjoy__gif-3 img {
  z-index: 1;
}

.heading-3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading-3 h2 {
  width: 40rem;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  text-align: left;
}

.heading-3 p {
  margin-top: 2rem;
  width: 40rem;
  font-size: 1.5rem;
  color: #fff;
}

.questions {
  color: #fff;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.questions__header {
  font-size: 3rem;
  text-align: center;
}

.faq__question {
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

.question {
  border: 1px solid white;
  width: 60rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.faq__answer {
  margin: auto;
  width: 50%;
  padding: auto;
}

.active,
.faq__question:hover {
  background-color: #444;
  color: black;
}

.faq__answer {
  padding: 0 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

.faq__question::after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2796";
}
